body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}
    

.header, .section1, .footer {
    background-color: #1f2937;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding:1em 5em;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    justify-content: center;
    font-weight: bolder;    
}

.header-links {
    font-size: 18px;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

.section1 {
    display: flex;
    padding: 1em 5em;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;    
    flex: 1;
}

.intro-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text, .footer {
    color: #e5e7eb; 
    font-size: 18px;
}

.button {
    color: #f9faf8;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    padding: 10px;
    width: 100px;
}

.image {
    height: 200px;
    width: 400px;
    margin-left: 50px;
    display: flex;  
    background-color: lightslategrey;
    justify-content: center;
    align-items: center;
}

.section2, .section3, .section4 {
    padding: 1em 5em;
    padding-bottom: 100px;
    
    
        
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.text-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text-box {
    width: 125px;
    justify-content: center;
    align-content: center;
    align-content: center;
}

.graytext {
    color: darkgrey;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    text-align: center;
}

.box { 
    width: 125px;
    height: 125px;
    border: 5px #3882f6;
    border-style: solid;
    border-radius: 16px;
}

.section3 {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding: 20px;
}

.signature {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    text-align: end;
}

.section4 {
    

}